@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground: #e6e7f0;
  --background: #1a1a1a;
}

body,
html {
  height: 100%;
  background: var(--background);
}
