@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #e6e7f0;
  --background: #191b3f;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
